<article class="login-container">
    <section class="login">
        <div style="margin: 0 auto;">
            <img src="assets/narev.png" width="360px;" alt="NAREV Logo">
        </div>
        <form>
            <mat-form-field>
                <input matInput placeholder="Usuário">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Senha" type="password">
            </mat-form-field>
        </form>

    </section>
    <section class="image">
        <img src="assets/background.png">
    </section>
</article>