.login-container{
    display: flex;
    height: 100vh;
}

.login {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    padding: 10px;
    
    form {
        display: inherit;
        flex-direction: inherit;
        margin-top: 40vh;
        transform: translateY(-50%);

        button {
            min-width: 90px;
        }
        mat-spinner {
            height: 35px;
        }
    }
}

mat-form-field:nth-of-type(1) {
    margin-bottom: 20px;
}

.image {
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;    
        opacity: .6;
    }
   display: flex;
   flex: 1; 
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@media screen and (max-width: 480px) {
    .login-container {
        width: 100%;
    }

    .login {
        width: 100%;
        z-index: 1;
        max-width: 100%;
    }

    .image {
        position: fixed;
        height: 100vh;
        img {  
            opacity: .1;
        }
    }
}
