<article class="login-container">
    <section class="login">
        <div style="margin: 0 auto;">
            <img src="assets/narev.png" width="100%;" alt="NAREV Logo">
        </div>
        <form #loginForm="ngForm">
            <mat-form-field>
                <input 
                    matInput 
                    required
                    [disabled]="user.loading"
                    name="user"
                    type="email"
                    [formControl]="emailFormControl"
                    placeholder="Email" 
                    [(ngModel)]="formData.email">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Informe um email válido!
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email é <strong>obrigatório</strong>
                  </mat-error>
            </mat-form-field>
            
            <mat-form-field>
                <input 
                    matInput
                    required
                    [disabled]="user.loading"
                    name="password"
                    placeholder="Senha" 
                    type="password" 
                    [(ngModel)]="formData.senha">
            </mat-form-field>

            <div class="button-container">
                <button 
                    mat-raised-button 
                    color="primary"
                    (click)="login(loginForm)"
                    [ngSwitch]="user.loading"
                    [disabled]="user.loading"
                    [style.min-width]="user.loading ? '36px' : auto">
                    <span *ngSwitchCase="false">
                        ENTRAR
                    </span>
                    <span *ngSwitchCase="true">
                        <mat-spinner class="spinner" [diameter]="37">
                        </mat-spinner>
                    </span>
                </button>
            </div>
        </form>

    </section>
    <section class="image">
        <img src="assets/background.png">
    </section>
</article>

<div class="spinner" *ngIf="false">
    <mat-spinner></mat-spinner>
</div>