@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-blue);
$app-accent:  mat-palette($mat-blue, A400);


// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent);


@include angular-material-theme($app-theme);

body {
    color: rgb(41, 32, 32);
}

// button
.button-container {
    display: flex;
    justify-content: flex-end;
}